<div *ngIf="books.length>0; else no_books">
    
    <div class="mb-3">
        <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search...">
        <small class="text-muted" *ngIf="filterText.length>0">Aradağınız Kelime: {{filterText}}</small>
    </div>

    <ng-template [ngTemplateOutlet]="book_list_general">

    </ng-template>

    <ng-template [ngTemplateOutlet]="book_list_popular" [ngTemplateOutletContext]="{popuBooks: popularBooks}">

    </ng-template>
</div>


<ng-template #book_list_general>

    <h2>{{title}}</h2>


    
    <div class="card mb-3" *ngFor="let item of books | bookFilter: filterText">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/{{item.imgUrl}}" class="img-fluid rounded-start" alt="">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h2 class="card-title"> {{item.title | titlecase}} </h2>
                    <h6>{{item.author}}</h6>
                    <p class="card-text">{{item.description | titlecase}}</p>
                    <div class="row align-items-center">
                        <div class="col">
                            <button class="btn btn-sm btn-outline-danger">Details</button>
                        </div>
                        <div class="col">
                           
                        </div>
                        <div class="col">
                            <button id="element" (click)="addToList($event, item)" class="btn ms-3">
                                <i class="fa fa-heart"
                                    style="color: red;cursor: pointer; font-size: 18px;">
                                     Add
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="alert alert-success">
        {{books.length}} books listed.
    </div> -->
</ng-template>

<ng-template #book_list_popular let-popularBooks="popuBooks">

    <h2>Best Seller</h2>

    <div class="row rpw-cols-1 row-cols-md-4 g-4 mb-3">
        <div class="col" *ngFor="let item of popularBooks">
            <div class="card h-100">
                <img src="assets/img/{{item.imgUrl}}" alt="" class="card-img-top img-fluid" style="height: 45vh; ">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.title | titlecase}}
                    </h5>
                    <p class="card-text">
                        {{item.description | titlecase}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #no_books>
    <div class="alert alert-warning">
        No books found.
    </div>
</ng-template>