<div class="text-center">
    <div class="row">
        <div class="col">
            <h1>{{ book.title }}</h1>
            <h5>Author: {{book.author}}</h5>
            <p>{{ book.description }} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente nam perferendis repellat a eligendi sed aperiam culpa sequi iusto, facilis pariatur nisi praesentium tenetur fugiat necessitatibus autem quia, quaerat, officiis veritatis iure esse dicta numquam alias. Eaque, excepturi sed! Dolore consectetur quidem suscipit nam et assumenda quod, cupiditate repellendus itaque quas vel iste ullam eligendi. Voluptatem modi nisi provident reiciendis deserunt nihil at natus in eius asperiores laborum omnis quam consectetur error corporis tenetur minus aut explicabo maiores illum eos accusamus, alias, quae a. Quod beatae maxime distinctio fugit. Cumque, ullam. Quos facilis, cum aliquid provident inventore iste rerum! Explicabo.
            </p>
        </div>
        <div class="col">
            <img class="img-fluid rounded-start" src="assets/img/{{book.imgUrl}}" alt="">
        </div>
    </div>
    

    

    
</div>

